*
	margin: 0
	padding: 0
	border-sizing: border-box

.carousel-inner
	height: 780px
	.carousel-item
		img
			background-size: cover















@media (min-width: 1200px)
	.container
		max-width: 77%