*
	margin: 0
	padding: 0
	border-sizing: border-box
// GLOBAL
.container
	padding: 0px

.background
	z-index: -100
	position: absolute
	margin: auto
	&:after
			display: block
			position: relative
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%)
			margin-top: -600px
			height: 600px
			width: 100%
			content: ''
	img
		width: 100%
		height: 100vh
		filter: blur(20px)
		

// NAVIGATION
.navbar-nav
	font-size: 20px
	font-weight: 600

nav.navbar
	width: inherit
	left: 50%
	transform: translateX(-50%)
	padding: 25px
	margin-left: 0

.bg-rgba
	background-color: rgba(0,0,0,0.5)
// END-NAVIGATION

// CAROUSEL



.slider
	.carousel-item
		img
			background-size: cover

.carousel_1_text
	font-family: 'Bitter', serif
	font-style: italic
	text-align: left
	top: 7%
	h3
		animation-delay: 1s
		font-size: 92px
	p
		animation-delay: 2s
		font-size: 50px
		font-weight: 800
		color: #F28A36
	button
		animation-delay: 2s
		background-color: #F28A36
		outline: none
		border-color: #F28A36

.carousel_2_text
	font-family: 'Bitter', serif
	font-style: italic
	text-align: right
	top: 7%
	h3
		animation-delay: 1s
		font-size: 90px
	p
		animation-delay: 1s
		font-size: 50px
		font-weight: 800
		color: #F28A36
		margin-top: 30px

.carousel_3_text
	font-family: 'Bitter', serif
	font-style: italic
	text-align: right
	top: 10%
	h3
		animation-delay: 1s
		font-size: 90px
	p
		animation-delay: 1s
		font-size: 50px
		font-weight: 800
		color: #F28A36
		margin-top: 30px

.carousel_3_img
		filter: contrast(60%)











