*
	margin: 0
	padding: 0
	border-sizing: border-box



.carousel-item
	height: 780px
	.carousel-item
		img
			background-size: cover

.carousel_1_text
	top: 10px
	left: -20%














@media (min-width: 1200px)
	.container
		max-width: 77%